{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>VIT-AP University</title>
	<link rel="icon" type="image/png" href="https://vtop2.vitap.ac.in/vtop/assets/img/favicon.png">
	<link rel="stylesheet" href="{% static "Logout_files/jquery-ui.css" %}">
	<link rel="stylesheet" href="{% static "Logout_files/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "Logout_files/bootstrapValidator.css" %}">
	<link rel="stylesheet" href="{% static "Logout_files/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "Logout_files/AdminLteCompatibility.css" %}">
	<link rel="stylesheet" href="{% static "Logout_files/VTopScrollbar.css" %}">
	<link rel="stylesheet" href="{% static "Logout_files/VTop.css" %}">
	<link rel="stylesheet" href="{% static "Logout_files/scrollableTable.css" %}">
</head>

<body class="VTopBody" style="padding-top: 50px;">


	<div id="page-closed" class="col-md-12 content-center">

		<div class="row">
			<div class="col-md-9" style="float: none; margin: 0 auto; margin-top: 30px;">

				<div class="box box-info">

					<div class="box-header with-border">
						<h4><b>Logged out!!!</b></h4>
					</div>

					<div class="box box-warning">
						<div class="box-body text-center small">

							<div>
								<h3><code>You have been successfully logged out</code></h3>
								<br>

								<a href="/" class="btn btn-success pull-right">Login to
									VTOP</a>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




</body>

</html>