{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>VIT-AP University</title>
	<link rel="icon" type="image/png" href="https://vtop2.vitap.ac.in/vtop/assets/img/favicon.png">
	<link rel="stylesheet" href="{% static "VIT-AP University_files/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "VIT-AP University_files/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "VIT-AP University_files/AdminLteCompatibility.css" %}">
	<link rel="stylesheet" href="{% static "VIT-AP University_files/VTop.css" %}">
	<style>
		#style1{
			text-align: center;
			font-weight:bold;
			color: #000000;
			font-size:12px;
			background-color: #afbadc;
		}
	</style>
</head>

<body class="VTopBody" style="padding-top: 50px;">
	<div id="page_outline">
		<div id="page-holder" class="trim">
			<header>
				<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#2980B9;color:#EAF2F8">
					<div class="container">
						<img src="{% static "test_files/new VIT_AP logo.png"  %}" class="img-responsive pull-left" alt="User Image"
							width="170" height="50">
						<h3 class="pull-right" style="color: #fff;font-family:Times; font-size: 24px;">V-Top</h3>
					</div>
				</nav>
			</header>
			<div id="pageContent-wrapper">
				<div id="page-wrapper" class="col-md-12 content-center">
					<link rel="stylesheet" href="{% static "FacultyInfo_files/validationEngine.jquery.css"  %}" >
					<div id="main-section">
						<!-- Main content -->
						<section class="content">
							<div class="col-sm-12 col-md-10 col-md-offset-1">
								<div class="box box-info">
									<div class="box-header with-border ">
										<h1 align = "center" class="box-title">Faculty Information</h1>
										<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lab & Theory Faculties are subjected to change and you can Contact them through Your Microsoft Teams</h2>
									</div>

									<form class="form-horizontal" method="post"
										action="https://vtop2.vitap.ac.in/vtop/employeeProfile" id="employeeProfileForm"
										name="employeeProfileForm" autocomplete="off">
										<div class="box-body">
											<div class="tab-content clearfix">
												<div class="tab-pane active" id="4a">
													<div class=" table-responsive">
														<div style="margin: 20px 20px 20px 20px;">
															<table class="table" border="1">
															</table>
														</div>
													</div>
												</div>
											</div>
											<div class="" id="showDetails">
												<div class="tab-content clearfix">
													<div class="tab-pane active" id="4a">
														<div class=" table-responsive">
															<div style="margin: 20px 20px 20px 20px;">
																<table class="table" border="1">
																	<tbody>
																		<tr
																			style="text-align: center; border-style: solid;">
																			<td id="style1">Name of the Faculty</td>
																			<td id="style1">Designation</td>
																			<td id="style1">School</td>
																			<td id="style1">Subject</td>
																		</tr>
																		<tr
																			style="text-align: center; border-style: solid;">
																			<td id="style1">Prof.Mukul Majhi</td>
																			<td id="style1">Grade 1 Professor</td>
																			<td id="style1">SCOPE</td>
																			<td id="style1">Computer-Science</td>
																		</tr>
																		<tr
																		style="text-align: center; border-style: solid;">
																		<td id="style1">Prof.Sunny Dayal Vanambathina</td>
																		<td id="style1">Grade 1 Professor</td>
																		<td id="style1">SENSE</td>
																		<td id="style1">ECE</td>
																		</tr>
																		<tr
																	style="text-align: center; border-style: solid;">
																	<td id="style1">Prof.Rajashekar Naraveni</td>
																	<td id="style1">Grade 1 Professor</td>
																	<td id="style1">SAS</td>
																	<td id="style1">English </td>
																		</tr>
																		<tr
																	style="text-align: center; border-style: solid;">
																	<td id="style1">Prof.V V Sreenivasu M</td>
																	<td id="style1">Grade 1 Professor</td>
																	<td id="style1">SAS</td>
																	<td id="style1">Chemistry </td>
																	</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
					</div>
				</div>
</body>
</html>